<% content_for :body do %>
  <div id="sp-wrapper">
    <div id="main-project-form">
      Project Id: <%= @project.id =%><br/>
      Name: <%= @project.name %>
      <%= form_for @project do |f| =%>
        <label for="SPenabled">Use SP:</label>
        <input type="checkbox" name="SPenabled" <%= @r?"checked":"" %>/>
        <br/>
        <%= f.submit =%>
      <% end %>
    </div>
    <% if sp_enabled?(@project) %>
      <div id="create-sp">
        <%= link_to "Create Service Pack", new_service_pack_path %><br/>
        <%= link_to "Assign Service Pack", new_project_sp_assignment_path(@project.id) %>
      </div>
    <% end %>
  </div>
  <br/>
<% end %>
<% content_for :extra do %>
  <%= link_to "See all timelogs", project_time_entries_path(@project.id) %>
  <br/>
  <%= link_to "Log time here", new_project_time_entry_path(@project.id) %>
  <br/>
  <div id="box-enums">
    <div id="box-enums-left"><h2>Enumerations</h2></div>
    <div id="box-enums-right">
      <%= link_to "Create enums", new_project_time_entry_activity_path(@project.id) %>
    </div>
  </div>
  <!-- https://www.openproject.org/help/administration/manage-enumerations/ -->
  <div class="table-container">
    <table id="enum">
        <tr>
          <th>Name</td>
          <th>Active</td>
          <th>Control</td> <!-- config columns -->
        </tr>
        <% @enums.each do |t|%>
          <tr>
            <td><%= t.name %></td>
            <td><%= (t.active ? "&#x2713" : "<strong>X</strong>").html_safe %></td>
            <td>config here! &nbsp;</td> <!-- delete columns -->
          </tr>
        <% end %>
      </table>
    </div>
  <end>
<% end %>