<% content_for :body do %>
	<% content_tag :h3, @project.name %><br/>
	<div class="table-container">
		<table>
			<tr>
				<th>Time spent (hours)</th>
				<th>Date</th>
				<th>Activity</th>
				<th>Comment</th>
			</tr>
			<%= @te.each do |t| %>
				<tr>
					<%= content_tag :td, t.hours %>
					<%= content_tag :td, t.spent_on.to_s %>
					<%= content_tag :td, t.TimeEntryActivity.name %>
					<%= content_tag :td, t.comment.truncate(50, separator: /\s/) %>
				</tr>
			<% end %>
		</table>
	</div>
<% end %>