<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title(yield :title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header><h1>Service Pack R&D Project</h1></header>
    <nav><a href="/">Back to Index</a><br/><br/></nav>
    <div class="err-list">
      <%= flash.each do |k, v| %>
        <% k %> <% v %>
      <% end %>
    </div>
    <div class='b1'><%= yield :body %></div>
    <div class='b2'><%= yield :extra %></div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
